.toolbar {
    justify-content: space-between;

    input {
        padding: 11.5px 14px;
    }
    .icon {
        margin-right: "2em";
    }
    .cardMedia {
        height: 5em;
        width: 6em;
        display: block;
        margin-right: 2em;
        margin-bottom: 0.5em;
        max-width: 100%;
    }
    .list {
        width: 35em;
        padding: 0 2em;
    }
    .listItem {
        padding: 1em;
    }
    .title {
        cursor: pointer;
        align-self: right;
    }
    .search {
        width: 50%;
        background-color: white;
        height: 3em;
    }
    .noItems {
        text-align: center;
    }
}
